<mat-toolbar color="primary">
    <span class="mat-headline">BookWorm</span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/login" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="mat-accent" class="mat-body">Pocetna strana</a>
        </li>
        <li>
            <a mat-button routerLink="/bookList" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="mat-accent" class="mat-body">Knjige</a>
        </li>
        <li>
            <a mat-button routerLink="/bookAdd" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="mat-accent" class="mat-body">Dodaj knjigu</a>
        </li>
        <li>
            <a mat-button routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="mat-accent" class="mat-body">Prijava</a>
        </li>
        <li>
            <a mat-button routerLink="/register" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="mat-accent" class="mat-body">Registracija</a>
        </li>
    </ul>
    <img src="../../assets/images/logo.jpg">
</mat-toolbar>
