mat-card {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(193, 66, 66, 0.7);
    color: white;
}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

mat-accordion {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(193, 66, 66, 0.7);
    color: white;
}

mat-expansion-panel {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(193, 66, 66, 0.7);
    color: white;
}

.comment {
    width: 50%;
    text-align: center;
}

.comment-text {
    font-size: large;
}

table {
    width: 100%;
}

.content {
    width: 75%;
}

.first {
    width: 33%;
    text-align: center;
}

.second {
    width: 67%;
    text-align: center;
}

.containter {
    vertical-align: middle;
    text-align: center;
    width: 25%;
}

.container img {
    display: block;
    margin: 0 auto;
}

.description {
    width: 100%;
}

.image-preview {
    height: 10rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.status {
    width: 30%;
}

.progress-bar {
    color: white;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.comment-configure {
    width: 40%;
    text-align: center;
    margin: auto auto;
}