<mat-card>
    <table>
        <tr>
            <td>
                <mat-card-header>
                    <mat-card-title>Informacije o korisniku</mat-card-title>
                </mat-card-header>
                <mat-card-header>
                    {{activeUser}}
                </mat-card-header>
            </td>
            <td>
                <button mat-button type="button" matSuffix mat-icon-button aria-label="Configure" (click)="configureUser()" *ngIf="configureCondition">
                  <mat-icon>build</mat-icon>
                </button>
                <button mat-button type="button" matSuffix mat-icon-button aria-label="Configure" (click)="follow()" *ngIf="!configureCondition && !followData">
                  Prati <mat-icon>group_add</mat-icon>
                </button>
                <button mat-button type="button" matSuffix mat-icon-button aria-label="Configure" (click)="unfollow()" *ngIf="!configureCondition && followData">
                  Prestani da pratis <mat-icon>backspace</mat-icon>
                </button>
            </td>
        </tr>
    </table>
    <table *ngIf="user">
        <tr>
            <td class="image-preview container">
                <img [src]="user.imagePath" [alt]="user.username" class="image-preview image">
            </td>
            <td class="content">
                <table class="content-table">
                    <tr>
                        <td class="first">
                            <h2>Ime i prezime</h2>
                        </td>
                        <td class="second">
                            <h2>{{user.firstname}} {{user.lastname}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <h2>Datum rodjenja</h2>
                        </td>
                        <td class="second">
                            <h2>{{user.birthdate}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <h2>Grad</h2>
                        </td>
                        <td class="second">
                            <h2>
                                {{user.city}}
                            </h2>
                        </td>
                    </tr>
                    <tr>
                        <td class="first">
                            <h2>Drzava</h2>
                        </td>
                        <td class="second">
                            <h2>
                                {{user.country}}
                            </h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="text-align:center">
                <button mat-raised-button color="primary" type="button" (click)="changePassword()" *ngIf="configureCondition">Promeni lozinku</button>
            </td>
        </tr>
    </table>
</mat-card>

<mat-card>
    <mat-card-title color="primary">
        Procitane knjige
    </mat-card-title>
    <mat-table [dataSource]="userReadBooks" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Naslov </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/bookInfo',element.idBook]">
                  {{element.title}}
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authors">
            <mat-header-cell *matHeaderCellDef> Autori </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.authors}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="genres">
            <mat-header-cell *matHeaderCellDef> Zanrovi </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.genres}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsForUserReadBooks"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForUserReadBooks;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalReadBooks" [pageSize]="readBooksPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPageForReadBooks($event)"></mat-paginator>
    <div class="chart" *ngIf="pieCondition">
        <apx-chart [series]="pieSeries" [chart]="pieChart" [labels]="pieLabels" [responsive]="pieResponsive"></apx-chart>
    </div>
</mat-card>

<mat-card>
    <mat-card-title color="primary">
        Knjige koje se trenutno citaju
    </mat-card-title>
    <mat-table [dataSource]="userCurrReadBooks" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Naslov </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/bookInfo',element.idBook]">
                  {{element.title}}
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authors">
            <mat-header-cell *matHeaderCellDef> Autori </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.authors}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="genres">
            <mat-header-cell *matHeaderCellDef> Zanrovi </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.genres}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsForUserCurrReadBooks"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForUserCurrReadBooks;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalCurrReadBooks" [pageSize]="currReadBooksPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPageForCurrReadBooks($event)"></mat-paginator>
</mat-card>

<mat-card>
    <mat-card-title color="primary">
        Knjige na listi za citanje
    </mat-card-title>
    <mat-table [dataSource]="userWaitBooks" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Naslov </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/bookInfo',element.idBook]">
                  {{element.title}}
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authors">
            <mat-header-cell *matHeaderCellDef> Autori </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.authors}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="genres">
            <mat-header-cell *matHeaderCellDef> Zanrovi </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.genres}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef> Izbaci iz liste </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button (click)="removeBookFromList(element.idUser, element.idBook)">
                    <mat-icon>clear</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsForUserWaitBooks"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForUserWaitBooks;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalWaitBooks" [pageSize]="waitBooksPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPageForWaitBooks($event)"></mat-paginator>
</mat-card>

<mat-card>
    <mat-card-title color="primary">
        Komentari korisnika
    </mat-card-title>
    <mat-table [dataSource]="userComments" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Naslov </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/bookInfo',element.idBook]">
                {{element.title}}
              </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authors">
            <mat-header-cell *matHeaderCellDef> Autori </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.authors}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rating">
            <mat-header-cell *matHeaderCellDef> Ocena korisnika </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef> Komentar </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumnsForUserComments"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForUserComments;"></mat-row>
    </mat-table>
</mat-card>