mat-card {
    width: 80%;
    margin: 20px auto;
}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
}
