mat-card {
    width: 60%;
    margin: 20px auto;
}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

a {
    text-decoration: none;
}

input[type="file"] {
    visibility: hidden;
}
