<mat-card *ngIf="id">
    <button mat-button type="button" color="accent" matSuffix aria-label="Configure" [routerLink]="['/userInfo',id]">Nazad</button>
    <mat-card-title>
        Promena lozinke
    </mat-card-title>
    <form (submit)="changePassword()" [formGroup]="changePasswordForm">
        <mat-form-field>
            <mat-label>Stara lozinka</mat-label>
            <input matInput type="password" formControlName="oldPassword">
            <mat-error *ngIf="changePasswordForm.get('oldPassword').errors?.required">
                Polje mora biti popunjeno!
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('oldPassword').errors?.pattern">
                Nije dobra forma lozinke!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nova lozinka</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="changePasswordForm.get('newPassword').errors?.required">
                Polje mora biti popunjeno!
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPassword').errors?.pattern">
                Nije dobra forma lozinke!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Potvrda nove lozinke</mat-label>
            <input matInput type="password" formControlName="newPasswordConfirmation">
            <mat-error *ngIf="changePasswordForm.get('newPasswordConfirmation').errors?.required">
                Polje mora biti popunjeno!
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPasswordConfirmation').errors?.pattern">
                Nije dobra forma lozinke!
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="changePasswordForm.hasError('passError') && changePasswordForm.get('newPassword').dirty && changePasswordForm.get('newPasswordConfirmation').dirty">
            Lozinke se ne poklapaju!
        </mat-error>
        <mat-error *ngIf="message!=null">
            {{message}}
        </mat-error>
        <button mat-raised-button color="primary" type="submit">Promeni lozinku</button>
        <p>{{changePasswordForm.status}}</p>
    </form>
</mat-card>