<mat-card>
    <mat-card-title color="primary">
        Resetovanje zaboravljene lozinke
    </mat-card-title>
    <form (submit)="onResetPassword(forgottenPasswordForm)" #forgottenPasswordForm="ngForm">
        <mat-form-field>
            <mat-label>Unesite email koji koristite za nalog</mat-label>
            <input matInput type="text" name="email" ngModel required #email="ngModel">
            <mat-error *ngIf="email.invalid">
                Polje mora biti popunjeno!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Posalji</button>
    </form>
</mat-card>
