<mat-card>
    <button mat-button type="button" color="accent" matSuffix aria-label="Configure" [routerLink]="['/']">Nazad</button>
    <mat-card-title>
        Resetovanje zaboravljene lozinke
    </mat-card-title>
    <form (submit)="onResetPassword()" [formGroup]="resetPasswordForm">
        <mat-form-field>
            <mat-label>Adresa elektronske poste</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="resetPasswordForm.get('email').errors?.required">
                Polje mora biti popunjeno!
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('email').errors?.email">
                Unesite u formi email-a!
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="message!=null">
            {{message}}
        </mat-error>
        <button mat-raised-button color="primary" type="submit">Posalji</button>
    </form>
</mat-card>