mat-card {
    width: 80%;
    margin: 20px auto;
}

mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

a {
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}
